.slider_inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}




.slider[data-animated=true] {
    overflow: hidden;
}

.slider[data-animated=true] .slider_inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 30s linear infinite;
}

.slider[data-animated=true] .slider_inner:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}